

html{
    scroll-behavior: smooth;
}
body{
    background-color: #1f2833;
    background-image: url("background.jpg");
    background-repeat: repeat;

}
.format{
    margin: 11%;

    display:block;
    font-size: 1.3em;
    height: 100%;
    background: rgb(31, 40, 51, 0.7);
    padding: 15px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    
 }

/*Home*/
#myVid{
position:absolute;
top: 0;
left: 0;
width: 100%;
z-index:-1;
}
.header{    
position: relative;
    width: 100%;
  height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: -1;
    background-color: #1f2833;
}
.color-overlay{
position: absolute;
top: 0;
left: 0;
background-color: #b82601;
width: 100%;
height: 100vh;
opacity: 0.5;
}

/*Headers*/
.header h1{
text-align: center;
font-size: 7em;
font-family: monospace;
border: 15px  solid #1f2833;
color:#ca3f1d;
text-shadow: 2px 3px 2px #1f2833;
padding: 10px;
margin: 15px;
z-index: 1;
}
h2{
    font-family: 'Courier New';
    color:#a7a9aa;
    background-color: #ca3f1d;
    text-align: center; 
    font-size: 250% ;
    border-radius: 5em;
    border-block-start-width: 100%;
    
}
#contact div h2{
    background-color:#13191f;
    text-align: center; 
     
}
/*Paragrphs*/
p{ 
    color: #c5c6c7;
    float: left;
}
/*Nav Bar*/
 nav ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    background-color: #1f2833;
    font-family: 'Courier New', Courier, monospace;
    z-index: 100;
    position: fixed;
    float:left;
    
}
li a{
    display: block;
    color: #c5c6c7;
    text-align: center;
    padding: 14px 40px;
    text-decoration: none;
}
li a:hover:not(:active){
    background-color: #1f2833;
    
}
.active{
    background-color:#b82601;
    border-block: 15px solid;
    border-radius: 0em;
}
/*Media Quearys*/
 @media only screen and (max-width: 1330px) {
    #About picture img{
        float:none;
        align-items: center;
        
        

    }
    #About p{
        min-width: 100%;
    }
    }
@media only screen and (max-width: 850px) {
        x{
            font-size: 1.5em;
        }
        .format{
            margin: 0 9%;
            display: block;
            height: 160%;
        }
       nav ul{
           opacity: 0.7;
           display: inline-flex;
          font-size:100%;
    }
    nav ul a{
        padding: 10px 20px;
    }
    footer{
        size: 40%;
    }

    }
/*About*/
#About picture img{
    display:flex;
    float: right;
    border-radius: 30px;
    position: relative;
}
#About p{
   max-width: 60%;
}

/*Skills*/
 .bullet{
    color: #a7a9aa;
    float: left;
    width: 100%;
}
/*progress{
    border-radius: 6px;
}
.PL{
 width: 25%;
    color: #c5c6c7;
}
*/
/*projects*/
 #Projects {
}
/*contact*/
#Contact{
    height: 130%;
    min-width:100%;
    background-color: #13191f;
    color: #a7a9aa;
    font-size: 150%;
    margin: 0%;
   border-radius: 20px 20px 0px 0px;
   text-align: center;
    }
.notify{
    padding: 10px;
    color: #ca3f1d;
    background: #1f2833;
    display: none;
    background-size: 5em;
    text-align: center;
}
  





